.work {
   background-image: url("./work.png");
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
   width: 500px;
   height: 500px;
}

.M {
   background: grey;
   color: black;
}
@keyframes extendWay {
   from {background-color: lime;}
   to {background-color: rgb(0, 153, 255);}
   from{border: 7px solid lime;}
   to{border: 1px solid green;}
 }
.G {
   border: 1px solid green;
   background: rgb(0, 153, 255);
   opacity: .5;
   width: 19.9px;
   height: 19.9px;
   position: relative;
   float: left;
   text-align: center;
   color: black;
   box-sizing: border-box;
   animation-name: extendWay;
   animation-duration: 1s;
}

@keyframes wayBack {
   from {background-color: rgb(0, 153, 255)}
   to {background-color: rgb(148, 11, 11);}
 
 }

.wayBack{
   border: 1px solid grey;
   background: rgb(148, 11, 11);
   opacity: .5;
   width: 19.9px;
   height: 19.9px;
   position: relative;
   float: left;
   text-align: center;
   color: black;
   animation-name: wayBack;
   animation-duration: 2s;
}

.C {
   background: yellow;
   color: black;
   text-align: center;
}

.OB {
   background: grey;
}

.W, .M, .OB, .C{
   width: 19.9px;
   height: 19.9px;
   position: relative;
   float: left;
   text-align: center;
   border: 0.1px solid gainsboro;
}
